@using QuorraWeb.Views.Manage

@inject SignInManager<ApplicationUser> SignInManager

@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<div class="toolbar">
    <div class="toolbar__nav">
        <a asp-action="Index" class="@ManageNavPages.IndexNavClass(ViewContext)">Account</a>
        <a asp-action="ChangePassword" class="@ManageNavPages.ChangePasswordNavClass(ViewContext)">Password</a>
        <a asp-action="Telegram" class="@ManageNavPages.TelegramNavClass(ViewContext)">Telagram</a>
        @*
        @if (hasExternalLogins)
        {
            <a asp-action="ExternalLogins" class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)">External logins</a>
        }
        <a asp-action="TwoFactorAuthentication" class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)">Two-factor authentication</a>
        *@
    </div>
</div>